html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,aside,footer,header,nav,section {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

figcaption,figure,main {
    display: block
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace,monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,strong {
    font-weight: inherit;
    font-weight: bolder
}

code,kbd,samp {
    font-family: monospace,monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio,video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button,input,optgroup,select,textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,input {
    overflow: visible
}

button,select {
    text-transform: none
}

[type=reset],[type=submit],button,html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details,menu {
    display: block
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

[hidden],template {
    display: none
}

form {
    margin: 0
}

[role=button],a,area,button,input,label,select,summary,textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation
}

input,select,textarea {
    font-family: kepler-light;
    max-width: 100%;
    border: 1px solid #849bb6;
    border-radius: 0
}

input[disabled],select[disabled],textarea[disabled] {
    border-color: #000;
    background-color: #000;
    cursor: default
}

button,input[type=submit],label[for] {
    cursor: pointer
}

textarea {
    min-height: 100px
}

select::-ms-expand {
    display: none
}

option {
    background-color: #fff
}

.input-error,option {
    color: #161d25
}

.input-error {
    border-color: #ff6d6d;
    background-color: #fff
}

.clearfix {
    *zoom:1}

.clearfix:after {
    content: "";
    display: table;
    clear: both
}

.visually-hidden {
    position: absolute!important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0)
}

.label-hidden {
    position: absolute!important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0)
}

.no-placeholder .label-hidden,.visually-shown {
    position: inherit!important;
    overflow: auto;
    width: auto;
    height: auto;
    margin: 0;
    clip: auto
}

html.supports-no-cookies .supports-no-cookies:not(html) {
    display: block
}

html.supports-no-cookies .supports-cookies {
    display: none
}

.hide {
    display: none!important
}

html {
    background-color: #fff
}

*,:after,:before,html {
    box-sizing: border-box
}

body,html {
    height: 100%;
    margin: 0
}

body {
    overflow-x: hidden
}

body.has-menu {
    overflow: hidden
}

.hidden {
    display: none
}

:focus {
    outline: none
}

figure {
    margin: 0
}

img,picture {
    margin: 0;
    width: 321px;
    height: 430px
}

.filler {
    position: relative
}

.filler svg {
    position: absolute;
    width: 100%;
    height: 100%
}

@media only screen and (max-width: 768px) {
    .responsive-table {
        width:100%
    }

    .responsive-table thead {
        display: none
    }

    .responsive-table tr {
        display: block
    }

    .responsive-table td,.responsive-table tr {
        float: left;
        clear: both;
        width: 100%
    }

    .responsive-table td,.responsive-table th {
        display: block;
        margin: 0;
        padding: 15px;
        text-align: left
    }

    .responsive-table td:before {
        content: attr(data-label);
        float: left;
        padding-right: 10px;
        text-align: center
    }

    .responsive-table-row+.responsive-table-row,tfoot>.responsive-table-row:first-child {
        position: relative
    }

    .responsive-table-row+.responsive-table-row:after,tfoot>.responsive-table-row:first-child:after {
        content: "";
        position: absolute;
        top: 0;
        right: 15px;
        left: 15px;
        display: block
    }
}

.rte {
    margin: 0
}

.rte img {
    height: auto
}

.rte table {
    table-layout: fixed
}

.rte ol,.rte ul {
    margin: 0 0 15px 30px
}

.rte-table {
    overflow: auto;
    max-width: 100%;
    -webkit-overflow-scrolling: touch
}

.rte__video-wrapper {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 0;
    height: auto;
    padding-bottom: 56.25%
}

.rte__video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.rte__table-wrapper {
    overflow: auto;
    max-width: 100%;
    -webkit-overflow-scrolling: touch
}

@font-face {
    font-family: helvetica;
    src: url("//cdn.shopify.com/s/files/1/0491/9967/7597/t/2/assets/helvetica.eot?v=2982378289979679620");
    src: url("//cdn.shopify.com/s/files/1/0491/9967/7597/t/2/assets/helvetica.eot?%23iefix&v=2982378289979679620") format("embedded-opentype"),url("//cdn.shopify.com/s/files/1/0491/9967/7597/t/2/assets/helvetica.woff?v=15389967202333255292") format("woff"),url("//cdn.shopify.com/s/files/1/0491/9967/7597/t/2/assets/helvetica.ttf?v=16836125524768607993") format("truetype")
}

@font-face {
    font-family: helvetica-light;
    src: url("//cdn.shopify.com/s/files/1/0491/9967/7597/t/2/assets/helvetica-l.eot?v=8239503333249822535");
    src: url("//cdn.shopify.com/s/files/1/0491/9967/7597/t/2/assets/helvetica-l.eot?%23iefix&v=8239503333249822535") format("embedded-opentype"),url("//cdn.shopify.com/s/files/1/0491/9967/7597/t/2/assets/helvetica-l.woff?v=7990420093928468069") format("woff"),url("//cdn.shopify.com/s/files/1/0491/9967/7597/t/2/assets/helvetica-l.ttf?v=6952467039074773868") format("truetype")
}

@font-face {
    font-family: kepler-light;
    src: url("//cdn.shopify.com/s/files/1/0491/9967/7597/t/2/assets/KeplerStd-Light.eot?v=14038628756920403807");
    src: url("//cdn.shopify.com/s/files/1/0491/9967/7597/t/2/assets/KeplerStd-Light.eot?%23iefix&v=14038628756920403807") format("embedded-opentype"),url("//cdn.shopify.com/s/files/1/0491/9967/7597/t/2/assets/KeplerStd-Light.woff?v=8648994616704937371") format("woff"),url("//cdn.shopify.com/s/files/1/0491/9967/7597/t/2/assets/KeplerStd-Light.ttf?v=3042542521598187548") format("truetype")
}

html {
    font-size: 18px;
    line-height: 20px
}

@media only screen and (max-width: 1024px) {
    html {
        font-size:12px;
        line-height: 14px
    }
}

body {
    font-family: kepler-light;
    font-size: 1rem
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400
}

body,button,input,select,textarea {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%
}

a:focus {
    color: inherit
}

a,a:active,a:hover,a:visited {
    color: #161d25
}

.micro-heading {
    display: block;
    font-family: helvetica;
    font-size: 10px;
    margin-bottom: 5px
}

.button,.cart-drawer__checkout,.product__details button {
    background: transparent;
    border: 1px solid #161d25;
    width: 100%;
    padding: .8em;
    font-family: helvetica-light;
    color: #161d25
}

.hero-banner {
    background-repeat: no-repeat
}

.hero-banner--article {
    min-height: 278px;
    background-position: 50%;
    background-size: cover
}

.icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    fill: currentColor
}

.no-svg .icon {
    display: none
}

.icon--wide {
    width: 40px
}

svg.icon:not(.icon--full-color) circle,svg.icon:not(.icon--full-color) ellipse,svg.icon:not(.icon--full-color) g,svg.icon:not(.icon--full-color) img,svg.icon:not(.icon--full-color) line,svg.icon:not(.icon--full-color) path,svg.icon:not(.icon--full-color) polygon,svg.icon:not(.icon--full-color) polyline,symbol.icon:not(.icon--full-color) circle,symbol.icon:not(.icon--full-color) ellipse,symbol.icon:not(.icon--full-color) g,symbol.icon:not(.icon--full-color) img,symbol.icon:not(.icon--full-color) line,symbol.icon:not(.icon--full-color) path,symbol.icon:not(.icon--full-color) polygon,symbol.icon:not(.icon--full-color) polyline {
    max-width: 100%
}

svg.icon:not(.icon--full-color) rect,symbol.icon:not(.icon--full-color) rect {
    fill: inherit;
    stroke: inherit
}

.icon-fallback-text {
    position: absolute!important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0)
}

.no-svg .icon-fallback-text {
    position: static!important;
    overflow: auto;
    width: auto;
    height: auto;
    margin: 0;
    clip: auto
}

.payment-icons {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default
}

.placeholder-svg {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    border: 1px solid #161d25;
    background-color: #f9fafb;
    fill: #161d25
}

.placeholder-svg--small {
    width: 480px
}

.placeholder-noblocks {
    padding: 40px;
    text-align: center
}

.placeholder-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.placeholder-background .icon {
    border: 0
}

.responsive-image__wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto
}

.responsive-image__wrapper:before {
    content: "";
    position: relative;
    display: block
}

.responsive-image__wrapper img {
    display: block;
    width: 100%
}

.responsive-image__wrapper--full-height {
    height: 100%
}

.responsive-image__image {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%
}

.responsive-image__image:focus {
    outline-offset: -4px
}

.address-form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.address-form [data-aria-hidden=true] {
    display: none
}

.address-form [data-line-count="1"] {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%
}

.address-form [data-line-count="2"] {
    -ms-flex-preferred-size: 49%;
    flex-basis: 49%
}

.address-form [data-line-count="3"] {
    -ms-flex-preferred-size: 32%;
    flex-basis: 32%
}

.blog-post {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0
}

.blog-post__item {
    -ms-flex: 1 1 33.33333%;
    flex: 1 1 33.33333%
}

.collection-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 73.75em
}

.collection-list-item {
    -ms-flex: 1 1 33.33333%;
    flex: 1 1 33.33333%;
    height: 100%;
    text-align: center
}

.collection-list__image {
    min-width: 320px
}

.collection-list__title {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%
}

.collection {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-left: 1px solid #161d25
}

.collection-item,.collection-item--filler {
    width: 24.98%;
    height: 37.25vw;
    overflow: hidden;
    border-bottom: 1px solid #161d25;
    border-right: 1px solid #161d25;
    text-decoration: none;
    position: relative
}

.collection-item--filler.color-white,.collection-item.color-white {
    color: #fff
}

@media only screen and (max-width: 768px) {
    .collection-item,.collection-item--filler {
        width:50%;
        height: 74vw
    }
}

@media only screen and (min-width: 1025px) {
    .collection-item--filler.width-50,.collection-item.width-50 {
        width:50%
    }

    .collection-item--filler.width-50 .collection__image,.collection-item.width-50 .collection__image {
        display: none
    }

    .collection-item--filler.width-100,.collection-item.width-100 {
        width: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .collection-item--filler.width-100 .collection__image,.collection-item.width-100 .collection__image {
        display: none
    }

    .collection-item--filler.width-100 .collection__image-horizontal,.collection-item.width-100 .collection__image-horizontal {
        width: 50%;
        border-right: 1px solid #161d25
    }

    .collection-item--filler.width-100 .collection__details,.collection-item.width-100 .collection__details {
        position: static;
        width: 50%;
        background-color: #161d25;
        color: #fff
    }

    .collection-item--filler.width-100 .collection__title,.collection-item.width-100 .collection__title {
        margin: 0!important;
        width: 64%;
        -ms-flex-positive: unset;
        flex-grow: unset;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        text-align: right;
        padding-right: 20px;
        font-size: 21px
    }

    .collection-item--filler.width-100 .collection__price,.collection-item.width-100 .collection__price {
        margin: 0!important;
        width: 36%;
        -ms-flex-positive: unset;
        flex-grow: unset;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        font-size: 18px
    }
}

.collection-item--filler svg,.collection-item svg {
    position: absolute;
    width: 100%;
    height: 100%
}

.collection-item--filler {
    -ms-flex-positive: 1;
    flex-grow: 1
}

.collection-item:hover .collection__tags {
    opacity: 1
}

.collection__tags {
    position: absolute;
    z-index: 10;
    padding: 10px 0 0 10px;
    opacity: 0;
    transition: opacity .3s ease
}

@media only screen and (max-width: 1024px) {
    .collection__tags {
        opacity:1
    }
}

.collection__tags img {
    height: 80px
}

@media only screen and (max-width: 1024px) {
    .collection__tags img {
        height:45px;
        margin: 0 0 0 5px!important
    }
}

.collection__image {
    max-width: 100%
}

.collection__image-horizontal {
    display: none;
    height: 100%
}

@media only screen and (min-width: 1025px) {
    .collection__image-horizontal {
        display:block
    }
}

.collection__image-horizontal .responsive-image__wrapper {
    height: 100%
}

.collection__image-horizontal .responsive-image__wrapper img {
    width: auto
}

.responsive-image__wrapper {
    max-width: none!important
}

.responsive-image__wrapper img {
    min-width: 100%;
    max-height: none!important
}

.collection__details {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.collection__title {
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0;
    -ms-flex-item-align: end;
    align-self: flex-end;
    max-width: 70%
}

.collection__price {
    font-family: helvetica-light;
    font-size: .889rem;
    margin-left: auto!important
}

.collection__price span {
    display: block
}

.image-with-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.image-with-text__image {
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    min-width: 320px
}

.image-with-text__text {
    -ms-flex: 1 1 50%;
    flex: 1 1 50%
}

.header {
    border: 1px solid #161d25;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #fff
}

@media only screen and (max-width: 1024px) {
    .header .micro-heading {
        display:none
    }
}

.header--fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100
}

.header--fixed .header__cart__filler,.header--fixed .header__title {
    display: none
}

.header--fixed .header__cart__container,.header--fixed .header__menu {
    height: 100%
}

.header--fixed .header__cart__left,.header--fixed .header__cart__right {
    height: 100%;
    border-bottom: none
}

.header--fixed .header__logo img {
    max-height: 63px
}

@media only screen and (max-width: 1024px) {
    .header--fixed .header__logo img {
        max-height:40px
    }
}

@media only screen and (max-width: 768px) {
    .header--fixed .header__logo img {
        max-height:28px
    }
}

@media only screen and (max-width: 1024px) {
    .header--fixed .header__menu__container {
        top:34px
    }
}

@media only screen and (max-width: 1024px) {
    .header--fixed .header__cart {
        top:0;
        height: 100%
    }
}

.header__logo {
    width: 25%;
    margin: 0;
    padding: 10px 10px 15px;
    border-right: 1px solid #161d25;
    line-height: 0;
    font-size: 0
}

@media only screen and (max-width: 768px) {
    .header__logo {
        padding:2px 0
    }
}

.header__logo img {
    max-height: 130px;
}

@media only screen and (max-width: 1024px) {
    .header__logo img {
        max-height:58px
    }
}

.header__navigation {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%
}

@media only screen and (max-width: 1024px) {
    .header__navigation {
        width:75%
    }
}

.header__title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 50%;
    padding: 0 30px;
    border-right: 1px solid #161d25;
    border-bottom: 1px solid #161d25
}

@media only screen and (max-width: 1024px) {
    .header__title {
        border-right:none;
        padding: 0 20px
    }
}

@media only screen and (max-width: 768px) {
    .header__title {
        padding:0 15px
    }
}

.header__menu {
    display: -ms-flexbox;
    display: flex;
    height: 50%;
    padding: 0 30px;
    -ms-flex-align: center;
    align-items: center;
    border-right: 1px solid #161d25
}

@media only screen and (max-width: 1024px) {
    .header__menu {
        width:50%;
        padding: 0 20px
    }
}

@media only screen and (max-width: 768px) {
    .header__menu {
        padding:0 15px
    }
}

.header__menu ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.header__menu li {
    display: inline-block
}

.header__menu li:not(:last-of-type) a:after {
    content: ", "
}

@media only screen and (max-width: 1024px) {
    .header__menu li {
        display:block;
        padding: 10px 10px 0;
        font-size: 16px
    }
}

.header__menu a {
    text-decoration: none
}

@media only screen and (max-width: 1024px) {
    .header__menu__container {
        position:fixed;
        width: 75vw;
        right: -80vw;
        background: #fff;
        top: 64px;
        z-index: 100;
        height: calc(100vh - 64px);
        padding: 10px;
        border-left: 1px solid #161d25;
        transition: right .2s ease
    }

    .header__menu__container.header__menu__container--open {
        right: 0
    }
}

.header__menu__trigger {
    display: none
}

@media only screen and (max-width: 1024px) {
    .header__menu__trigger {
        cursor:pointer;
        width: 100%;
        height: 100%;
        display: block;
        line-height: 32px
    }
}

.header__cart {
    width: 25%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column
}

@media only screen and (max-width: 1024px) {
    .header__cart {
        position:absolute;
        right: 0;
        top: 50%;
        height: 50%;
        width: 37.5%
    }
}

.header__cart__container {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
}

@media only screen and (max-width: 1024px) {
    .header__cart__container {
        height:100%;
        border-bottom: none
    }
}

.header__cart__left,.header__cart__right {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 50%;
    height: 50%;
    padding: 0 30px;
    border-bottom: 1px solid #161d25
}

@media only screen and (max-width: 1024px) {
    .header__cart__left,.header__cart__right {
        padding:0 0 0 20px;
        height: 100%;
        border-bottom: none
    }
}

@media only screen and (max-width: 768px) {
    .header__cart__left,.header__cart__right {
        padding:0 0 0 15px
    }
}

@media only screen and (max-width: 1024px) {
    .header__cart__right {
        padding:0 20px 0 0
    }
}

@media only screen and (max-width: 768px) {
    .header__cart__right {
        padding:0 15px 0 0
    }
}

.header__cart__right>div {
    width: 100%;
    text-align: right
}

.header__cart__filler {
    height: 50%;
    width: 100%
}

@media only screen and (max-width: 1024px) {
    .header__cart__filler {
        display:none
    }
}

.cart-drawer {
    position: fixed;
    right: -55vw;
    top: 177px;
    width: 50vw;
    background: #fff;
    border-left: 1px solid #161d25;
    height: calc(100vh - 177px);
    z-index: 100;
    padding: 30px;
    transition: right .2s ease
}

@media only screen and (max-width: 1024px) {
    .cart-drawer {
        padding:15px;
        top: 64px;
        height: calc(100vh - 64px);
        width: 100vw;
        border-right: 1px solid #161d25;
        border-bottom: 1px solid #161d25;
        right: -101vw
    }
}

@media only screen and (min-width: 1679px) {
    .cart-drawer {
        width:33.33vw;
        right: -35vw
    }
}

.cart-drawer.cart-drawer--open {
    right: 0
}

.header--fixed .cart-drawer {
    top: 90px;
    height: calc(100vh - 90px)
}

@media only screen and (max-width: 1024px) {
    .header--fixed .cart-drawer {
        top:34px;
        height: calc(100vh - 34px)
    }
}

.cart-drawer__header {
    padding-bottom: 1em;
    cursor: pointer
}

.cart-drawer__items {
    margin: 0;
    padding: 0;
    list-style: none
}

.cart-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-top: 1px solid #161d25;
    padding: 1em 0
}

.cart-item:last-of-type {
    border-bottom: 1px solid #161d25
}

.cart-item__title {
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.cart-item__remove {
    cursor: pointer
}

.cart-item__quantity__input {
    border: none;
    width: 2em;
    text-align: center
}

.cart-item__minus,.cart-item__plus {
    border: 1px solid #161d25;
    border-radius: 100%;
    width: 1.25em;
    text-align: center;
    display: inline-block;
    height: 1.25em;
    top: -2px;
    position: relative;
    cursor: pointer
}

.cart-item__price {
    margin-left: 2em
}

.cart-drawer__totals {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 1.111em;
    padding: 1em 0 2em;
    font-family: helvetica-light
}

.cart-drawer__totals__title {
    -ms-flex-positive: 1;
    flex-grow: 1
}

.cart-drawer__checkout {
    display: block;
    text-decoration: none;
    text-align: center
}

.footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-bottom: 1px solid #161d25;
    border-left: 1px solid #161d25
}

.footer a {
    text-decoration: none
}

.footer #mce-EMAIL {
    border: none;
    border-bottom: 1px solid #161d25;
    padding: 0 0 8px;
    width: 100%
}

.footer #mce-EMAIL:-ms-input-placeholder {
    color: #161d25
}

.footer #mce-EMAIL::placeholder {
    color: #161d25
}

.footer #mc-embedded-subscribe {
    padding: 0;
    margin-top: 10px;
    background: transparent;
    border: none
}

.footer__filler,.footer__follow,.footer__legal,.footer__newsletter {
    width: 24.98%;
    padding: 20px 30px;
    border-right: 1px solid #161d25
}

@media only screen and (max-width: 768px) {
    .footer__filler,.footer__follow,.footer__legal,.footer__newsletter {
        width:50%;
        padding: 15px
    }
}

@media only screen and (max-width: 768px) {
    .footer__filler,.footer__legal {
        border-bottom:1px solid #161d25
    }
}

.footer__follow ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.footer__filler {
    position: relative;
    padding: 0
}

.footer__filler svg {
    position: absolute;
    width: 100%;
    height: 100%
}

.apple-wallet-image,.giftcard-qr img {
    display: block;
    margin: 0 auto
}

@media print {
    @page {
        margin: .5cm
    }

    p {
        orphans: 3;
        widows: 3
    }

    .apple-wallet,.print-giftcard {
        display: none
    }
}

.product {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.product__featured-image {
    width: 50%;
    border-left: 1px solid #161d25;
    border-right: 1px solid #161d25
}

@media only screen and (max-width: 768px) {
    .product__featured-image {
        width:100%
    }
}

.product__details {
    width: 50%;
    padding-top: 6vw
}

@media only screen and (max-width: 768px) {
    .product__details {
        width:100%;
        border: 1px solid #161d25;
        border-bottom: none
    }
}

.product__details__wrapper {
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    padding: 0 25px
}

@media only screen and (max-width: 768px) {
    .product__details__wrapper {
        padding:0 15px 15px
    }
}

.product__details__title {
    font-size: 20px;
    margin: 0 0 1em;
    max-width: 75%;
    line-height: 1em
}

.product__details__description {
    font-size: 14px;
    margin-bottom: 2.5em
}

@media only screen and (max-width: 768px) {
    .product__details__description {
        margin-bottom:2em
    }
}

.product__details__description p {
    max-width: 80%
}

.product__details__description ul {
    padding: 0 0 0 1em
}

.product__details__description table {
    width: auto!important;
    max-width: 100%
}

.ddd-truncated {
    cursor: pointer
}

.product__details__price {
    position: absolute;
    display: inline-block;
    font-family: helvetica-light;
    font-size: 18px;
    padding: 0 20px;
    text-align: center;
    right: -2vw;
    top: -2vw;
    display: -ms-flexbox;
    display: flex
}

@media only screen and (max-width: 768px) {
    .product__details__price {
        right:15px;
        font-size: 16px
    }
}

.product__details__price span {
    padding: 90% 0
}

.product__details__price svg {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0
}

.product__details__price s {
    right: -1em;
    position: absolute;
    top: -1em
}

.product__details__quantity,.variant-select {
    display: none
}

.swatch {
    margin-bottom: 3em;
    font-family: helvetica-light;
    font-size: 14px
}

@media only screen and (max-width: 768px) {
    .swatch {
        margin-bottom:2.5em
    }
}

.swatch-element {
    position: relative;
    display: inline-block;
    cursor: pointer
}

.swatch-element input {
    position: absolute;
    opacity: 0;
    cursor: pointer
}

.swatch-element input:checked+label:after {
    background-image: url("//cdn.shopify.com/s/files/1/0491/9967/7597/t/2/assets/underline.svg?v=8763032175627746174");
    background-repeat: no-repeat;
    content: "";
    width: 24px;
    height: 8px;
    position: absolute;
    left: -8px;
    top: 25px
}

.swatch-element.soldout label {
    text-decoration: line-through
}

.swatch-element label {
    padding-right: 30px;
    cursor: pointer
}

.product__tags {
    margin-top: 1.5em
}

@media only screen and (max-width: 1024px) {
    .product__tags {
        margin-top:0
    }
}

.product__tags img {
    height: 80px
}

@media only screen and (max-width: 1024px) {
    .product__tags img {
        height:60px
    }
}

.product__tags img:first-of-type {
    margin-left: 0!important
}

.product__images {
    width: 100%
}

.product__images ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.product__images li {
    width: 100%;
    border: 1px solid #161d25;
    border-bottom: none
}

.product__images li:last-of-type {
    border-bottom: 1px solid #161d25
}

.product__images li .responsive-image__wrapper.hide {
    display: block!important
}

.page {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.page__content,.page__filler {
    width: 50%
}

.page__filler {
    border-bottom: 1px solid #161d25;
    border-left: 1px solid #161d25
}

@media only screen and (max-width: 768px) {
    .page__filler {
        display:none
    }
}

.page__filler svg {
    width: 100%;
    height: 100%
}

.page__content {
    padding: 15px;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #161d25;
    border-top: none
}

@media only screen and (max-width: 768px) {
    .page__content {
        width:100%;
        font-size: 14px
    }
}

.page__content h1 {
    margin: 0;
    font-size: 20px
}

body.template-password #MainContent {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 100%
}

body.template-password .password-wrapper {
    margin: 0 auto;
    text-align: center;
    max-width: 400px;
    font-size: 14px
}

body.template-password .password-wrapper img {
    max-width: 200px
}

body.template-password #Login form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center
}

body.template-password #Login button,body.template-password #Login input {
    background: transparent;
    border: 1px solid #161d25;
    padding: 5px 10px;
    font-size: 14px
}

body.template-password #Login button {
    border-left: none
}

body.template-password #Login label {
    display: none
}

body.template-password #mc_embed_signup_scroll {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center
}

body.template-password #mc_embed_signup_scroll label {
    width: 100%;
    margin: 1em 0
}

body.template-password #mc_embed_signup_scroll input {
    padding: 5px 10px;
    border: 1px solid #161d25;
    background: transparent
}

body.template-password #mc_embed_signup_scroll #mc-embedded-subscribe {
    font-family: sans-serif
}

body.template-password #mc_embed_signup_scroll #mce-EMAIL {
    border-right: none
}

body.template-cart form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

body.template-cart table {
    width: 100%;
    border-collapse: collapse
}

body.template-cart thead {
    border: 1px solid #161d25;
    border-top: none
}

body.template-cart th {
    font-weight: 400;
    text-align: left;
    padding: 20px 30px
}

body.template-cart tr {
    border: 1px solid #161d25;
    border-top: none
}

@media only screen and (max-width: 768px) {
    body.template-cart tr {
        padding:15px
    }
}

body.template-cart td {
    padding: 20px 30px
}

@media only screen and (max-width: 768px) {
    body.template-cart td {
        padding:0
    }
}

body.template-cart td a,body.template-cart td p {
    display: inline-block;
    text-decoration: none;
    margin: 0
}

body.template-cart td input {
    border: none;
    width: 4em
}

body.template-cart td:last-of-type,body.template-cart th:last-of-type {
    text-align: right
}

@media only screen and (max-width: 768px) {
    body.template-cart td:last-of-type,body.template-cart th:last-of-type {
        text-align:left
    }
}

body.template-cart .cart__totals {
    width: 100%;
    text-align: right;
    padding: 20px 30px;
    border-left: 1px solid #161d25;
    border-right: 1px solid #161d25
}

.product__details body.template-cart button,body.template-cart .button,body.template-cart .cart-drawer__checkout,body.template-cart .product__details button {
    width: 50%
}

.product__details body.template-cart button:last-of-type,body.template-cart .button:last-of-type,body.template-cart .cart-drawer__checkout:last-of-type,body.template-cart .product__details button:last-of-type {
    border-left: none
}
